

<div class="label-tags">
  <img src="{{ product.metafields.sf_product_tags.label_1 }}" alt="">
  <img src="{{ product.metafields.sf_product_tags.label_2 }}" alt="">
  <img src="{{ product.metafields.sf_product_tags.label_3 }}" alt="">
  <img src="{{ product.metafields.sf_product_tags.label_4 }}" alt="">
  <img src="{{ product.metafields.sf_product_tags.label_5 }}" alt="">
</div> 